<button (click)="move()">Move</button>
<div class="timer"><span>Timer:</span>0</div>
<table id="chess-board">
  <tr>
    <td class="square empty"></td>
    <td *ngFor="let c of cols" class="square label">{{ c }}</td>
    <td class="square empty"></td>
  </tr>
  <tr>
    <td class="square label">8</td>
    <td [ngClass]="getClasses(c, 8)" *ngFor="let c of cols" #square></td>
    <td class="square label">8</td>
  </tr>
  <tr>
    <td class="square label">7</td>
    <td [ngClass]="getClasses(c, 7)" *ngFor="let c of cols" #square></td>
    <td class="square label">7</td>
  </tr>
  <tr>
    <td class="square label">6</td>
    <td [ngClass]="getClasses(c, 6)" *ngFor="let c of cols" #square></td>
    <td class="square label">6</td>
  </tr>
  <tr>
    <td class="square label">5</td>
    <td [ngClass]="getClasses(c, 5)" *ngFor="let c of cols" #square></td>
    <td class="square label">5</td>
  </tr>
  <tr>
    <td class="square empty"></td>
    <td *ngFor="let c of cols" class="square label">{{ c }}</td>
    <td class="square empty"></td>
  </tr>
</table>
