#chess-board {
  border-collapse:collapse;
  margin:1em auto;

  .square {
    height:64px;
    width:64px;
  }

  .label {
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
  }

  .board {
    border:solid 1px #8B4513;
  }

  .dark {
    background-color:#CD853F;
  }

  .light {
    background-color:#FFEFD5;
  }

  .clear {
    background-image: none !important;
  }
}

.knight-0 {
  background-image: url('../../assets/knight-0.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.knight-1 {
  background-image: url('../../assets/knight-1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.timer {
  margin: 10px;
}
