<div class="p-grid" id="move-controls">
    <div class="p-col-3"></div>
    <div class="p-col-3 move-label">Move from:</div>
    <div class="p-col-3 move-input">
      <input [(ngModel)]="moveFrom" style="width:2em;">
    </div>
    <div class="p-col-3"></div>

    <div class="p-col-3"></div>
    <div class="p-col-3 move-label">Move to:</div>
    <div class="p-col-3 move-input">
      <input [(ngModel)]="moveTo" style="width:2em;">
    </div>
    <div class="p-col-5"></div>

    <div class="p-col-6"></div>
    <div class="p-col-6 move-input"></div>
  </div>
